body {
    background-color: #d853ea;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    padding: 20px;
    color: #fff;
  }
  
  .logo,
  a {
    display: inline-block;
    vertical-align: middle;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 25px;
    font-size: 20px;
  }
  
  nav a:hover,
  nav a:focus {
    background-color: #ffffff;
    color: #333;
    border-radius: 65px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

section {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    font-weight:bold;
}

.input-group {
    margin-bottom: 10px;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 95%;
    font-size: 20px;
}

